<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/cssIndex.css">
    <title>Weather App</title>
</head>

<body>

    <nav>
        <ul>
            <li class="nav-logo">Weather App</li>
            <li class="nav-toggler"><i class="fa fa-bars"></i></li>
            <li class="nav-items"><a href="/">Home</a></li>
            <li class="nav-items"><a href="/about">About Us</a></li>
            <li class="nav-items"><a href="/weather">Weather</a></li>
        </ul>
    </nav>

    <div class="content">
        <div class="left">
            <p class="top-info">Welcome to my weather app</p>
            <div class="text">
                <span class="mid1">Get the latest</span><span class="mid2"> Weather</span>
                <span class="mid3">prediction of your city.</span>
            </div>
            <a href="/weather"><button><b>Check Now</b></button></a>
        </div>
        <div class="right">
            <img class="weather-image" src="images/home-weather-image.jpg" alt="">
        </div>
    </div>

    <footer>
        <p>Made with ❤ by Rishabh Sharma</p>
    </footer>

    <script src="js/jsIndex.js"></script>
</body>

</html>