<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/cssWeather.css">
    <title>Today's Weather</title>
</head>

<body>

    <div class="home">
        <a href="/"><button class="homebtn">home</button></a>
    </div>

    <div class="search">
        <form action="">
            <input placeholder="Enter the city" id="searchfield" type="text">
            <button id="searchbtn">Search</button>
        </form>
    </div>

    <div class="box">
        <div class="wave -one"></div>
        <div class="wave -two"></div>
        <div class="wave -three"></div>

        <div id="weathercon">
            <i id="wCon" class="fas fa-sun" style="color: #eccc68"></i>
        </div>

        <div class="info">
            <h2 class="location">
                <i class="fas fa-street-view" style="color: #fff"></i><span id="city">Pune,IN</span>
            </h2>
            <p id="date">WED | nov 23 | 10:49AM</p>
            <h1 class="temp">26.43K</h1>
            <h3 class="tempmin_max">
                Min 26.43K | Max 26.43K
            </h3>
        </div>
    </div>

    <script src="js/jsMain.js"></script>
    <script src="js/jsWeather.js"></script>
</body>
</html>